body {
  background-color: rgb(42, 56, 78);
  margin: 0;
  color: aliceblue;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background-color: #006699;
  padding: 3rem;
  border-radius: 1rem;
  border: 2px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.form {
  display: grid;
  grid-template-columns: auto auto;
  row-gap: 1rem;
  column-gap: 3rem;
  justify-content: center;
  align-items: center;
}

.title {
  margin: 0;
  text-align: center;
}

label {
  font-weight: bold;
}

.charSlider {
  display: flex;
  align-items: center;
}

.passwordDisplay {
  background-color: aliceblue;
  color: black;
  padding: 1rem;
  border: 1px black;
  height: 2rem;
  width: 350px;
  align-content: center;
  display: flex;
  word-break: break-all;
  border-radius: 0.5rem;
}

.button {
  grid-column: span 2;
  background-color: transparent;
  border: 2px solid white;
  color: aliceblue;
  padding: .5rem 1rem;
  font-weight: bold;
  cursor: pointer;
  border-radius: 1rem;
}

.button:hover {
  background-color: aquamarine;
}


